#upgradeButton{
    display: inline;
}
#wrapper{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin-top: 2%;
}
#upgradeResources{
    border: 2px solid red;
    background: white;
    color: black;
    align-items: center;
    justify-items: center;
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr 4fr;
}
#upgradeResources div{

}
button{
    border: 1px solid red;
    cursor: pointer;
    transition: 0.2s;
}
button:hover{
    background: lightpink;
    transition: 0.2s;
}
.onMouseOver{
    background: lightpink;
    transition: 0.2s;
}
.onMouseOut{
    background: white;
    transition: 0.15s;
}
