body{
    align-content: center;
    justify-content: center;
    margin-bottom: 5%;
}
#main{
    display: inline-block;
    height: 30%;
    width: 95%;
    margin-bottom: 10px;
}
#main div{
    margin: auto;
    display: table-row;
    height: 5%;
}
#main div div{
    display: table-cell;
    vertical-align : middle;
    width: 10%;
    border-left: 1px solid darkgrey;
    border-right: 1px solid grey;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
#main div #tableHeader{
    border: 3px solid red;
}
form{
}