#header{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 3fr 2fr;
    gap: 5px;

    color: black;
    height: 15%;
    width: 100%;
    margin-bottom: 1%;
}
#header div{
    justify-items: center;
    align-items: center;
    display: grid;
    border: 4px solid red;
    box-sizing: border-box;
    font-weight: bold;
    cursor: pointer;
    background: white;
    transition: 0.2s;
}
#renameVillage div{
    display: none;
}
.renameVillageActive{
    display: grid !important;
    grid-template-columns: 6fr 1fr;
}
#stone, #wheat, #wood{
    grid-template-columns: 1fr 4fr;
}
#header div:hover{
  background: lightpink !important;
  transition: 0.2s;
}
select, option{
  font-size: 24px;
  font-weight: bold;
  font-family: monospace;
  border: 4px solid;
  cursor: pointer !important;
}
#renameVillagInner input, #renameVillagInner button{
    font-weight: bold;
    font-family: monospace;
    font-size: 16px;
}
#header img{
    width: 30px;
    margin: 2%;
    height: auto;
}
#header div div{
    border: none;
    float: left;
}
#header div, select{
    animation: colorChange 10s linear infinite;
}
@keyframes colorChange {
    0% {
      border-color: black;
    }
    50% {
        border-color: red;
    }
    100% {
        border-color: black;
    }
  }