#header{
    display: table;
    border-collapse: separate;
    border-spacing: 5px;
    color: black;
    height: 15%;
    margin: 1%;
    width: 98%;
}
#menu, #resources{
    display: table-row;
    width: 100%;
}
#resources{
    height: 30%;
}
#menu{
    height: 70%;
}
#menu div, #resources div{
    border: 4px solid;
    display: table-cell;
    font-weight: bold;
    cursor: pointer;
    height: 100%;
    width: auto;
    min-width: 10%;
    vertical-align: middle;
}
#menu #Logout{
    width: 6%;
}
.mouseOver{
  background: lightpink;
  transition: 0.2s;
}
.mouseOut{
  background: white;
  transition: 0.3s;
}
select{
  font-size: 24px;
  font-weight: bold;
  font-family: monospace;
  width: 80%;
  border: 4px solid;
  cursor: pointer;
}
#villageSelect{
  cursor: pointer;
}
#Select, #Select p{
  cursor: context-menu;
}
#menu div div *
{
    color: black;
    font-size: 16;
    font-weight: bold;
    font-family: monospace;
}
img{
    position: static;
    width: 30px;
    margin: 2%;
    object-fit: contain;
}
#resources div *{
    display: table-column;
}
input, button{
    display: none;
}
#menu div div{
    border: none;
}
#menu div, #resources div, select{
    animation: colorChange 10s linear infinite;
}
@keyframes colorChange {
    0% {
      border-color: coral;
    }
    50% {
        border-color: red;
    }
    100% {
        border-color: coral;
    }
  }