body{
    align-content: center;
    justify-content: center;
}
#main{
    display: inline-block;
    height: 60%;
    width: 95%;
    margin: auto;
    overflow-y: scroll;
}
#main div{
    margin: auto;
    display: table-row;
    height: 5%;
}
#main div div{
    display: table-cell;
    width: 10%;
    border-left: 1px solid darkgrey;
    border-right: 1px solid grey;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
#main div #tableHeader{
    border: 3px solid red;
}