#main, .events{
    border: 1px solid red;
    margin: 1%;
    overflow: hidden;
}
#main{
    background-image: url("http://bga.rf.gd/images/village/village_original_onlyroad.jpg");
    background-size: 100% 100%;
    width: 98%;
    height: 70%;
}
#gridDiv{
    display: table;
    height: 78%;
    width: 92%;
    margin: 0 auto;
    margin-top: 3%;
}
.gridColumn{
    width: 100%;
    display: table-row;
}
.gridColumn div{
    display: table-cell;
    vertical-align: center;
    text-align: center;
}
img{
    width: 50px;
    height: 30px;
    display: block;
    margin: 0 auto;
    margin-top: 20%;
}
.mouseOverGrid{
    background: rgba(63, 88, 38, 0.71);
}
.mouseOutGrid{
    background: none;
}
