*{
    font-size: 22px;
    font-family: monospace;
    text-align: left;
    overflow: hidden;
}
.row > div, .headerRow > div{
    float: left;
    width: 160px;
    border-left: 1px dashed lightgrey;
    border-right: 1px dashed lightgrey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-left: 10px;
}
.headerRow div{
    background: lightblue;
    font-weight: bolder;
}
.headerRow{
    position: sticky;
    top: 0;
}
body{
    text-align: center;
}
.main{
    display: inline-block;
    height: 100%;
    overflow: auto;
}
